<!DOCTYPE html>

<html lang="en">
    <head>
	    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    	<link href="/css/course.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">

    	<script src="https://code.jquery.com/jquery.js"></script>

        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oxygen&display=swap" rel="stylesheet">

        <title>Grade Guru Class</title>
    </head>

    <body>
        <!-- Nav Bar -->
        <section id="nav_bar">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-dark">
                <a href="../" class="nav-link"><p class="navbar_brand">Grade Guru</p></a>

                <ul class="navbar-nav ml-auto">
                    <li class="navbar_item">
                    <a href="settings/{{class}}" class="nav-link"><i class="fas fa-cogs fa-3x icon"></i></a>
                    </li>
                </ul>
                </nav>
            </div>
        </section>

        <a href="/all_courses">
            <button type="button" class="btn btn-dark btn-lg margin0">Back To Classes</button>
        </a>

        <!-- Header -->
        <h1 class="class-title">{{class}}</h1>

        <br />

        <div class="base-grade">
            <b class="class-name">Current Grade:</b>
            <div class="score">{{grade}}</div>
        </div>

        <br />

        <div class="percentile"> {{percentile}}% of Final Grade Received</div>
        <div>
            <span class="percentile"> Focus On: </span>
            <b> {{focus}} </b>
        </div>

        <hr>

        <!-- Grades -->
        <div> Add Grades: </div>
        <br />

        {{#each categories}}
            <a href="category/{{URL}}/{{category_name}}" class="sections">
                <div class="section">
                    <div>{{category_name}} {{percent}}%</div>
                    <div>{{first}} of {{second}} ({{tests}} tests)</div>
                </div>
            </a>
            <br />
        {{/each}}

        <footer id="footer">
            <p class="footer_text">Grade Guru 2021</p>
        </footer>

        <!-- JavaScript -->
        <script src="https://kit.fontawesome.com/4610a5e838.js" crossorigin="anonymous"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>